<div class="posts-show-item">
    <div class="post-user-name">
        <img src="<%= "/user_images/#{@post.user.image_name}" %>">
        <%= link_to(@post.user.name, "/users/#{@post.user.id}") %>
    </div>
</div>
<div>
    <%= @post.content %>
    <%= @post.created_at %>    
</div>
<% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
    <%= link_to("いいね！済み", "/likes/#{@post.id}/destroy", {method: "post"}) %>
<% else %>
    <%= link_to("いいね！", "/likes/#{@post.id}/create", {method: "post"}) %>
<% end %>
<% if @post.user_id == @current_user.id %>
    <%= link_to("編集", "/posts/#{@post.id}/edit") %>
    <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
<% end %>